<div class="content">
  {{!-- <div class="playlistBody"> --}}
  <div class="playlistHeader">
    <div class="userInfo">
      <img src={{user.userPhoto}} alt="User's profile photo">
      <div class="textInfo">
        <h2>{{user.userJson.display_name}}</h2>
        <h4>BPM measured = {{heartrateData.BPM}}</h4>
      </div>
    </div>
    <div class="playlistBPM">
      <h5>Target BPM = {{heartrateData.targetBPM}}</h5>
      <form action="/profile/playlist" method="post">
        <button type="submit">GENERATE PLAYLIST</button>
      </form>
    </div>
  </div>
  <div class="playlist-recommendations">
    <h3>Our recommendations:</h3>
    <div>
      {{#each playlistArr}}
      <div class="trackBlock row">
        <h4 class="trackTitle">{{this.name}}</h4>
        <audio controls src="{{this.preview_url}}" class="trackControls">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- <script src="/javascripts/spotify-playlist.js" charset="utf-8"></script> --}}
  {{!-- </div> --}}
</div>