<div class="playlistBody">
  <div class="playlistHeader row">
    <div class="userInfo col">
      <img src={{user.userPhoto}} alt="User's profile photo">
      <h2>{{user.userJson.display_name}}</h2>
      <h4>BPM measured = {{heartrateData.BPM}}</h4>
    </div>
    <div class="playlistBPM col">
      <h3 class="row">Playlist average BPM:</h3>
      <h4 class="row">X BPM</h4>
      <form action="/profile/playlist" method="post">
        <button type="submit">GENERATE PLAYLIST</button>
      </form>
    </div>
  </div>
  <div class="playlist row">
    <h3>Our recommendations:</h3>
    <div>
      {{#each playlistArr}}
      <div class="trackBlock row">
        <h4 class="trackTitle">{{this.name}}</h4>
        <audio controls src="{{this.preview_url}}" class="trackControls">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- <script src="/javascripts/spotify-playlist.js" charset="utf-8"></script> --}}
</div>